Flask>=2.0
Flask-Cors>=3.0
python-dotenv>=0.19
google-generativeai>=0.3
# PyMuPDF>=1.23.0   # For PDF parsing (fitz)
PyPDF2>=3.0.0
python-docx>=1.1.0
# requests>=2.20.0
Pillow
Flask-Script
mongoengine
Flask-PyMongo
Flask-Bcrypt
Flask-JWT-Extended
jira